* {
   padding: 0px;
   margin: 0px; 
}
form {
    width: 500px;
    background-color: #fff;
    margin: 50px auto;
}
.container {
    padding: 50px;
}
.container h2 {
    font-size: 35px;
    text-align: center;
    letter-spacing: 2px;
}
.container .inf input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: block;
    height: 45px;
    width: 100%;
    outline: none;
    margin: 22px 0px;
}
.container .inf button {
    display: block;
    margin: 22px auto;
    width: 100%;
    height: 55px;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    transition: all 0.41s;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3px;
}
.container .inf button:hover {
    background-color:#fe7250;
}
.container a {
    color: #cccccce3;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.41s;
}
.container a:hover {
    color: #fe7250;
}